.container
  max-width: 1100px
  margin: 0 auto

.cards
  display: -webkit-flex
  display: flex
  -webkit-justify-content: center
  justify-content: center
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  margin-top: 15px
  padding: 1.5%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.card
  position: relative
  margin-bottom: 20px
  padding-bottom: 30px
  background: #fefff9
  color: #363636
  text-decoration: none
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  span
    display: block
  .card-summary
    padding: 5% 5% 3% 5%
    .title
      font-weight: bold
  .card-header
    position: relative
    height: 175px
    overflow: hidden
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-color: rgba(255, 255, 255, 0.15)
    background-blend-mode: overlay
    -moz-border-radius: 4px 4px 0 0
    -webkit-border-radius: 4px
    border-radius: 4px 4px 0 0
    padding: 0
    &:hover, &:focus
      background-color: rgba(255, 255, 255, 0)
  .card-title
    background: rgba(157, 187, 63, 0.85)
    color: white
    font-family: 'Roboto Condensed', sans-serif
    text-transform: uppercase
    position: absolute
    bottom: 0
    width: 100%
    h3
      font-size: 1.2em
      line-height: 1.2
      padding: 0 3.5%
      margin: 0
  .card-meta
    max-height: 0
    overflow: hidden
    color: #666
    font-size: .78em
    text-transform: uppercase
    position: absolute
    bottom: 5%
    padding: 0 5%
    -moz-transition-property: max-height
    -o-transition-property: max-height
    -webkit-transition-property: max-height
    transition-property: max-height
    -moz-transition-duration: 0.4s
    -o-transition-duration: 0.4s
    -webkit-transition-duration: 0.4s
    transition-duration: 0.4s
    -moz-transition-timing-function: ease-in-out
    -o-transition-timing-function: ease-in-out
    -webkit-transition-timing-function: ease-in-out
    transition-timing-function: ease-in-out
  &:hover, &:focus
    background: white
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px
  &:hover .card-title, &:focus .card-title
    background: rgba(157, 187, 63, 0.95)
  &:hover .card-meta, &:focus .card-meta
    max-height: 1.2em

@media (max-width: 700px)
  .card
    width: 100%

@media (min-width: 700px)
  .card
    max-width: 320px
    margin-right: 20px
    margin-bottom: 20px
    &:nth-child(even)
      margin-right: 0

@media (min-width: 980px)
  .card
    &:nth-child(even)
      margin-right: 20px
    &:nth-child(3n)
      margin-right: 0

img
  max-width: 100%

body
  background: #f0f0f0
  font-size: 17px
  line-height: 1.4
  font-family: 'Jaldi', sans-serif

*
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform
  -moz-transition-duration: 0.2s
  -o-transition-duration: 0.2s
  -webkit-transition-duration: 0.2s
  transition-duration: 0.2s
  -moz-transition-timing-function: linear
  -o-transition-timing-function: linear
  -webkit-transition-timing-function: linear
  transition-timing-function: linear
