<div class="container" *ngIf="events">
  <h2>Events</h2>

  <p *ngIf="!events"><em>Loading...</em></p>

  <div class="cards">
    <a class="card" [routerLink]="event.id" *ngFor="let event of events">
      <img class="card-header" src="{{event.imageLink}}" alt=""/>
      <span class="card-summary">
        <div class="title">{{event.title}}</div>
        <div class="conent">{{event.description}}</div>
			</span>
      <span class="card-meta">
				Start date: {{event.startDate}}
			</span>
    </a>
  </div>
</div>
